
<!DOCTYPE html>
<html class=" ">
    <!-- START HEAD -->

    <head>
	
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>DashBoard : Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <link rel="shortcut icon" href="src/assets/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" href="src/assets/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="src/assets/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="src/assets/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="src/assets/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->
        <link href="build/dist/styleBundle.css" rel="stylesheet" />
    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body  login_page" ng-app="myApp" ng-controller="LoginCtrl">


        <div class="login-wrapper" >
            <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
                <h1><a href="#" title="Login Page" tabindex="-1">Ultra Admin</a></h1>

                <!-- Begin Login Form--> 
                <form name="loginform" id="loginform" action="index.html" method="post">
                    <p>
                        <label for="user_login">Username<br />
                            <input type="text" name="log" id="user_login" class="input" value="demo" size="20" ng-model="model.user_login" /></label>
                    </p>
                    <p>
                        <label for="user_pass">Password<br />
                            <input type="password" name="pwd" id="user_pass" class="input" value="demo" size="20"  ng-model="model.user_pass" /></label>
                    </p>


                    <p class="submit">
                        <input  class="btn btn-orange btn-block" ng-click="login()" value="Sign In" />
                    </p>
					
					<p type="danger" style="text-align:center" ng-show="model.loginError">Username and/or Password Incorrect, Please try again </p>
                </form>
                <!-- End`   ` Login Form--> 

            </div>
        </div>


        <!-- CORE JS FRAMEWORK COMPILED WITH NPM- START --> 
        <script src="build/dist/bundle.js" type="text/javascript"></script>  
        <!-- CORE JS FRAMEWORK COMPILED WITH NPM- END --> 

    </body>
    <!-- END BODY -->
</html>



